{% extends 'base.html' %}

{% block title %}
<title>To do list</title>
<!--ninja2 - block will replace in base.html -->
{% endblock title %}


{% block content %}

<div class='container'>
    <br>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <!--X to close alert-->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <form method="POST" class="row">
        <!--class=row to arrange all form elements in row-->
        {% csrf_token %}
        <!--  <div class="form-group">  -->
        <label class="col-lg-2">Your tasks for today</label>
        <!--class="col-lg-2" to arrange element in sections of row-->
        <input type="text" class="form-control col-lg-6" name="task" id="addtask" placeholder="Write task here">
        <!--  </div> -->
        <button type="submit" class="btn btn-primary col-lg-2">Add task</button>
    </form>

    <br>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if all_tasks %}
            {% for task_obj in all_tasks %}
            {% if task_obj.status %}
            <tr class="table-success">
                <td>{{ task_obj.id }} </td>
                <td>{{ task_obj.task }} </td>
                <td> <a href="{% url 'pendingtask' task_obj.id %}"><button type="button" class="btn btn-success btn-block btn-sm">Mark as
                            Pending</button>
                    </a></td>
                <td> <a href="{% url 'edit' task_obj.id %}"><button type="button" class="btn btn-info btn-block btn-sm">Edit</button>
                    </a> </td>
                <td> <a href="{% url 'delete' task_obj.id %}"><button type="button"
                            class="btn btn-danger btn-block btn-sm">Delete</button></a></td>
                <!--delete link to delete task-->
            </tr>
            {% else %}
            <tr class="table-warning">
                <td>{{ task_obj.id }} </td>
                <td>{{ task_obj.task }} </td>
                <td><a href="{% url 'completetask' task_obj.id %}"><button type="button" class="btn btn-warning btn-block btn-sm">Mark as
                            Completed</button>
                    </a></td>
                <td> <a href="{% url 'edit' task_obj.id %}"><button type="button" class="btn btn-info btn-block btn-sm">Edit</button>
                    </a> </td>
                <td><a href="{% url 'delete' task_obj.id %}"><button type="button"
                            class="btn btn-danger btn-block btn-sm">Delete</button></a></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <!--for pagination-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="?pg=1">
                    <<</a> </li> {% if all_tasks.has_previous %} <li class="page-item"><a class="page-link"
                            href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a>
            </li>
            {%endif%}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number}}">{{ all_tasks.number}}</a></li>
            {% if all_tasks.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
            {%endif%}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.paginator.num_pages}}">>></a></li>
        </ul>
    </nav>

</div>
{% endblock content %}